$useblockMargins: (
  null: (0, 0, 110px, 0),
  small: (0, 0, 150px, 0),
  medium: (0, 0, 250px, 0),
);

$useblockTitleMargins: (
  null: (0, auto, 55px, auto),
  small: (0, auto, 60px, auto),
  medium: (0, auto, 80px, auto),
);

$useblockButtonMargins: (
  null: (0, auto, 80px, auto),
  small: (0, auto, 100px, auto),
  medium: (0, auto, 120px, auto),
);

$useblockExamplePaddings: (
  null: (100px, 30px, 100px, 30px),
  small: (120px, 30px, 120px, 30px),
  medium: (132px, 30px, 132px, 30px),
);

.useblock {
  @include element-indent($useblockMargins, 'margin');

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;

  &__title {
    @include element-indent($useblockTitleMargins, 'margin');

    text-align: center;
  }

  &__button {
    @include element-indent($useblockButtonMargins, 'margin');
  }

  &-example {
    @include element-indent($useblockExamplePaddings, 'padding');

    position: relative;
    width: 1276px;
    max-width: 100%;
    border-radius: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &__label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      transition: transform 0.2s ease-in-out;
      padding: 13px 30px;
      background-color: #dcdcdc;
      width: 100%;
      text-align: center;
      color: $gray-link-color;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: normal;
    }

    picture {
      max-width: 100%;

      img {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .useblock {
    &-example {
      border-radius: 50px;

      &__label {
        padding: 13px 53px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: auto;
        font-size: 29.11px;
        line-height: 39px;
        letter-spacing: -0.01em;
      }
    }
  }
}
