.fullpackblock 
  h2.fullpackblock__title Use catchy illustrations and  describe your project or idea to touch customers’ hearts
  a.fullpackblock__link(href='#' target="_blank") Try free version
  .fullpackblock-illustrations
    - var blockImages = Array.from(Array(20+1).keys()).slice(1)
    each val in blockImages
      - var path_name = 'images/fullpackblock/'
      - var image_name = 'img' + val
      .fullpackblock-illustrations__item
        include picture
