.fullpackblock 
  h2.fullpackblock__title Get full pack of 20 colorful high-detailed scenes with very amusing heroes 
  a.fullpackblock__link(href='#purchase') Try free version
  .fullpackblock-illustrations
    - var blockImages = Array.from(Array(20+1).keys()).slice(1)
    each val in blockImages
      - var path_name = 'images/fullpackblock/'
      - var image_name = 'img' + val
      .fullpackblock-illustrations__item
        include picture
