.header
  a.header__link(href='https://craftwork.design/downloads/category/ui-kits/' target="_blank") UX/UI
  a.header__link(href='https://craftwork.design/downloads/category/illustrations/' target="_blank") illustrations
  a.header__link(href='https://craftwork.design/downloads/category/graphics/' target="_blank") graphics
  a.header__link(href='https://craftwork.design/downloads/category/bundles/' target="_blank") bundles 
  a.header__link(href='https://craftwork.design/downloads/category/freebies/' target="_blank") freebies
  a.header__link_right(href='https://craftwork.design/pro-access/' target="_blank")
    span 
      include ../svg/lightning
    span pro access

