.heroblock
  h1.heroblock__title Amusing characters and colorful shapes combined to produce Cranks stories
  a.btn.btn-pink.heroblock__button Download
  p.heroblock__text figma & sketch, svg, png, ai
  - var path_name = 'images/'
  - var image_name = 'heroimage'
    include picture
