.heroblock
  h1.heroblock__title Amusing characters and colorful shapes combined to produce Cranks stories
  a.btn.btn-pink.heroblock__button(href='#purchase') Download
  p.heroblock__text figma & sketch, svg, png, ai
  div.wow.animate__fadeIn(data-wow-delay='0.65s') 
    div.wow.animate__zoomInDown
      - var path_name = 'images/'
      - var image_name = 'heroImage'
        include picture
