//- Open Graph / Facebook
meta(property='og:type ' content='website')
meta(property='og:url ' content='https://cranks.craftwork.design')
meta(property='og:site_name' content='Cranks illustrations')
meta(property='og:title ' content='Cranks illustrations')
meta(property='og:description' content='Amusing characters and colorful shapes combined to produce Cranks stories. The pack is full of 20 colorful scenes with very fancy heroes.')
meta(property='og:image' content='public/OpenGraph.png')
//- Open Graph / Facebook
//- Twitter
meta(property='twitter:card ' content='summary_large_image')
meta(property='twitter:type ' content='website')
meta(property='twitter:url ' content='https://cranks.craftwork.design')
meta(property='twitter:site_name' content='Cranks illustrations')
meta(property='twitter:title ' content='Cranks illustrations')
meta(property='twitter:description' content='Amusing characters and colorful shapes combined to produce Cranks stories. The pack is full of 20 colorful scenes with very fancy heroes.')
meta(property='twitter:image' content='public/OpenGraph.png')
//- Twitter
