.purchaseblock
  h2.purchaseblock__title Create domething awesome and bring some fun to your design using Cranks pack
  p.purchaseblock__text 
    | Wanna make your design gorgeous?  
    br
    | Use Cranks illustrations to make your wish true 
