.subscribeblock
  h2.subscribeblock__title Subscribe to our newsletter to be aware of all releases and updates
  include mcembedsignup
  p.subscribeblock__text No spam. Only releases, updates and discounts
