.webandapp
  h2.webandapp__title Fit perfectly both web and app designs
  - var blockImages = Array.from(Array(2+1).keys()).slice(1)
  each val in blockImages
    - var path_name = 'images/webandapp/'
    - var image_name = 'img' + val
    include picture
