doctype html
html(lang='en')
  - var pageTitle = 'Page Title'
  include partials/head
  body
    include partials/header
    include partials/subheader
    include partials/heroblock
    include partials/webandapp
    include partials/useblock
    include partials/fullpackblock
    include partials/purchaseblock
    include partials/footer    
