svg(width='16' height='20' viewbox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M15.0833 7.49998H8.41663L9.24996 0.833313L0.916626 12.5H7.58329L6.74996 19.1666L15.0833 7.49998Z' fill='#0057FF')
