svg(width='33' height='31' viewbox='0 0 33 31' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M32.1399 11.9916L19.8658 11.9977L16.0671 0.374789L12.2801 12.0015L0.00598834 12.0076L9.93948 19.1871L6.15242 30.8136L16.0787 23.6242L26.0122 30.8037L22.2136 19.1808L32.1399 11.9916Z' fill='white')
